body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0B3954;
    /* Color de fondo del body */
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
}

.sidebar {
    width: 20%;
    background-color: #BDD6E8;
    /* Color de fondo de la barra lateral */
    padding: 20px;
}

.sidebar nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar nav li {
    margin-bottom: 10px;
}

.sidebar nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    /* Color de los iconos */
    font-weight: bold;
}

.sidebar nav a:hover {
    background-color: #0B3954;
    /* Color de los iconos al hover */
}

.main-content {
    width: 80%;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
    font-weight: bold;
}

.payment-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.payment-option {
    width: 30%;
    margin-bottom: 20px;
}

.payment-option input[type="radio"] {
    margin-right: 10px;
}

.payment-option label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.credit-card-details label {
    display: block;
    margin-bottom: 5px;
}

.credit-card-details input[type="text"],
.credit-card-details input[type="number"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.order-summary {
    text-align: center;
    margin-top: 20px;
}

-- Comentario .order-summary h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.order-summary p {
    font-size: 16px;
}

.next-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #E0FF4F;
    /* Color del botón */
    color: #0B3954;
    /* Color del texto del botón */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.next-button:hover {
    background-color: #D6F84A;
    /* Color del botón al hover */
}