.header_registro {
    padding: 2rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header_logo{
    width: 60px;
    height: 60px;
}

.header_iconos{
    width: 30px;
    height: 30px;
}

#nav__title__text{
    color: #BDD6E8;
}

.section_title{
    color: #E0FF4F;
    font-size: 1.5rem;
}

#form_pag_1, #form_pag_2, #form_pag_3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 5%;
    gap: 20px;
    margin-top: 0;
}


.div-centered, #form_pag_2, #form_pag_3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.div-centered{
    margin-top: 5%;
}

.container_row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.container_column{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.input_container {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    width: 60%;
}

.input_container label{
    margin-bottom: 5px; 
}

.input_container input, .input_container textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    background-color: transparent;
    box-sizing: border-box;
}

.input_container input::placeholder, .input_container textarea::placeholder {
    color: white; 
}

.input_message_alert{
    color: #E0FF4F;
    font-size: 0.8rem;
    margin-top: 5px;
}

p{
    color: white;
    font-size: 1rem;
    margin-top: 5px;
}

.text_block{
    display: flex;
    background-color: #64889E;
    margin: 5px;
    padding: 10px 15px;
    border-radius: 10px;
    width: fit-content;
}

.maps{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 250px;
    border: 0;
    margin: 5%;
}

.btn{
    align-self: center;
}

.btn:hover{
    cursor: pointer;
    background-color: #D0FF00;
}

.profile-header{
    height: 200px;
    width: 80%;
    background-color: #BDD6E8;
    background-size: cover;
}
.profile-picture{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #64889E;
    background-size: cover;
}